<section class="gallery-section">
  <div class="section-header">
    <h2>Galería de Imágenes</h2>
  </div>
  <div class="gallery-grid">
    <!-- Uso de imágenes con carga diferida (lazy loading) para mejorar el rendimiento -->
    <img src="./assets/slide1.jpg" alt="Imagen 1" loading="lazy" />
    <img src="./assets/slide2.webp" alt="Imagen 2" loading="lazy" />
    <img src="./assets/slide3.jpg" alt="Imagen 3" loading="lazy" />
    <img src="./assets/slide4.jpg" alt="Imagen 4" loading="lazy" />
  </div>

  <div class="animaciones">
    <img src="assets/imagen1.jpeg" alt="Teléfono animado 1" class="anim-item" />
    <img src="assets/imagen2.jpeg" alt="Teléfono animado 2" class="anim-item" />
    <img
      src="assets/imagen3.jpeg"
      alt="Accesorios animados"
      class="anim-item"
    />
  </div>
</section>
