<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto IV</title>
</head>
<body>
  <div class="host">
  <h1>Tecnoyorsh</h1>
  <h2>El Hospital de tu Celular</h2>
</div>
<div class="ser">
<h3>Servicios</h3>
<li>Cambio de Display</li>
<li>Reparaciones a nivel tarjea</li>
<li>Centros de Carga</li>
<li>Liberaciones</li>
</div>
<div class="conteiner">
<div class="mision">
  <h3>Misión</h3>
  <p>
    "Brindar soluciones rápidas, confiables y accesibles para la reparación de dispositivos móviles, ofreciendo un servicio personalizado y de alta calidad que garantice la satisfacción de nuestros clientes y prolongue la vida útil de sus equipos."
  </p>
</div>
<div class="vision">
  <h3>Visión</h3>
  <p>
    "Ser reconocidos como la opción líder en reparación de celulares en nuestra comunidad, destacándonos por nuestra innovación, compromiso con el cliente y excelencia en el servicio, contribuyendo a un mundo donde la tecnología sea sostenible y accesible para todos."
  </p>
</div>
<div class="valores">
  <h3>Valores</h3>
  <p>Calidad: Garantizar reparaciones duraderas y eficientes utilizando piezas y técnicas de alta calidad.

    Confianza: Ofrecer transparencia en los diagnósticos, precios y procesos para generar confianza en nuestros clientes.

    Innovación: Mantenernos actualizados con las últimas tecnologías y métodos de reparación.

    Servicio al cliente: Priorizar la satisfacción del cliente con atención personalizada y soluciones rápidas.</p>
</div>
</div>
<div class="formulario">
  <app-auth></app-auth>
</div>

</body>
</html>